<%- include('../partials/header') %>
    <!-- <h1>Search Results for "<%= query %>"</h1>

    <ul>
        <% results.forEach(result=> { %>
            <li>
                <%= result.title %>
            </li>
            <li>
                <%= result.author %>
            </li>
            <% }); %>
    </ul> -->
    <%- include('../partials/footer') %>