<%- include('../partials/header') %>
    <div class="mainContainer">
        <% if(results !="" ){ %>
            <% results.forEach(result=> { %>
                <div class="book-items">
                    <div class="column">
                        <img class="pic" src="<%= result.bookImage %>" alt="">
                        <br>
                        <p>
                            <%= result.title %>
                        </p>
                        <p>by <%= result.author %>
                        </p>
                        <a href="/books/<%= result.id%>"> >> details</a>

                    </div>

                </div>
                <% }); %>
                    <% } else { %>
                        <br>
                        <br>
                        <br>
                        <h3>No Search results found!</h3>
                        <% } %>
    </div>

    <%- include('../partials/footer') %>