<%- include('../partials/header') %>
    <div>
        <h1>Title:</h1>
        <%= book.title %>
            <h2>Author:</h2>
            <%= book.author %>
                <h2>Publish Date:</h2>
                <%= book.publishDate %>
                    <h2>Publisher:</h2>
                    <%= book.publisher %>
                        <h2>ISBN:</h2>
                        <%= book.ISBN %>
                            <h2>Language:</h2>
                            <%= book.language %>
    </div>
    <p>
        <%= errorMsg %>
    </p>
    <%- include('../partials/footer') %>